# Environment and secrets
.env
application.properties

# Java / Maven
target/
*.class
*.jar

# IntelliJ IDEA
.idea/
*.iml

# Python
__pycache__/
*.py[cod]

# Airflow
airflow/airflow_505/logs/
airflow/airflow_505/phase2_split/
airflow/airflow_505/errors/
airflow/airflow_505/plugins/
airflow/airflow_505/pyscript/
airflow/airflow_505/airflow.cfg
airflow/airflow_505/airflow-webserver.pid
airflow/airflow_505/webserver_config.py
airflow/.env
airflow/airflow_505/input/
airflow/airflow_505/opt/


# Temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db